body{
    background:#FFFFFF;
    font-family: sans-serif;
    color: #3E4352;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

.yellow{
    color: #FDAF24;
}

.center{
    text-align: center;
}

.section{
    color: #3E4352;
    padding-top: 300px;
    padding-bottom: 300px;
}

.graphic{
    background: #FFFFFF;
}

.information{
    background: #E3E3E3;
    
}

.graphs{
    background: #FFFFFF;
}

.angular{
    background: #E3E3E3;
}

.sectioncontent{
     width: 80%;
     display: block;
     margin: auto;
}

.datalink{
     padding-top: 50px;
     display: block;
     margin: auto;
     text-align: center;
}

.datalink div{
    border: 3px solid #3E4352;
    padding: 12px;
    width: 150px;
    display: block;
    margin: auto;
    font-weight: 600;
    font-size: 18px;
}

.datalink.graph1 div{
    border: 3px solid #E65848;
    color: #E65848;
}

.datalink.graph1 div a{
    color: #E65848;
}

.datalink.graph1 div a:hover{
    text-decoration: none;
}

.datalink.graph1 div:hover{
    opacity: 0.4;
}


.datalink.graph2 div{
    border: 3px solid #2AB69D;
    color: #2AB69D;
}

.datalink.graph2 div a{
    color: #2AB69D;
}

.datalink.graph2 div a:hover{
    text-decoration: none;
}

.datalink.graph2 div:hover{
    opacity: 0.4;
}

.datalink.graph3 div{
    border: 3px solid #FDAF24;
    color: #FDAF24;
}

.datalink.graph3 div a{
    color: #FDAF24;
}

.datalink.graph3 div a:hover{
    text-decoration: none;
}

.datalink.graph3 div:hover{
    opacity: 0.4;
}

.graph{
    padding-top: 20px;
    height: 100px;
}


/* grouped barchart */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.y.axis{
    display: none;
}

.bar:hover {
    fill: #677285;
    transition: all 0.5s;
    cursor: pointer;
}

.bar{
    fill: #D6DFEE;
}

svg{
    display: block;
    margin: auto;
    overflow: auto;
}

.tooltip {
    position: absolute;
    background: none;
    color: #E69987;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 20px;
}

.tooltip.styles{
    position: absolute;
    background: white;
    color: #3E4352;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px 20px;
    border: 4px solid #3E4352;
}

/* Donut chart */

#chart {                                                      
    height: 360px;                                            
    position: relative;                                        
    width: 360px;
    display: block;
    margin: auto;
    }

.tooltip1 {                                                  
        background: white;                                                    
        color: #333;                                          
        display: none;                                            
        font-size: 20px;
        font-weight: 600;
        left: 130px;                                                
        padding: 10px;                                                
        position: absolute;                                     
        text-align: center;                                        
        top: 95px;                                              
        width: 120px;                                          
        z-index: 10;
        border: 4px solid #3E4352;
      }   